{% include 'main.html' %}

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body">
                            <h4 class="card-title">Dados do Cliente</h4>
                            <br>
                            <form class="form-horizontal m-t-30" action="cliente" method="POST">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" id="cliente" name="cliente" class="form-control" placeholder="Insira aqui o nome do cliente...">
                                </div>
                                <div class="form-group">
                                    <label>Situação Comercial</label>
                                    <input type="text" id="situacao" name="situacao" class="form-control" placeholder="Insira aqui qual a situação comercial...">
                                </div>
                                <div class="form-group">
                                    <label>Serviço de Portfólio</label>
                                    <input type="text" id="servico" name="servico" class="form-control" placeholder="Insira aqui qual o Serviço de portfólio...">
                                </div>
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <textarea id="descricao" name="descricao" class="form-control" rows="5" placeholder="Insira uma descrição sobre o projeto..."></textarea>
                                </div>
                                <br>
                                <div class="button">
                                    <button type="submit" class="btn btn-success">Salvar Cliente</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <br><br>
            <!-- <footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://wrappixel.com">WrapPixel</a>.
            </footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->