{% include 'main.html' %}

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body">
                            <h4 class="card-title">Dados do Usuário</h4>
                            <br>
                            <form class="form-horizontal m-t-30" action="editar_cliente" method="POST">
                                {% for usuario in usuario %}
                                <input type="hidden" name="id" value="{{ usuario['id'] }}"/>
                                <div class="form-group">
                                    <label for="documento">Primeiro Nome: </label>
                                    <input type="text" class="form-control" name="nome_cliente" id="nome_cliente" value="{{ usuario.first_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="data">Último Nome: </label>
                                    <input type="text" class="form-control" name="situacao_comercial" id="situacao_comercial" value="{{ usuario.last_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="historico">Data de Inscrição: </label>
                                    <input type="date" class="form-control" name="servico_portfolio" id="servico_portfolio" value="{{ usuario.criacao }}">
                                </div>
                                <div class="form-group">
                                    <label for="debito">Descrição: </label>
                                    <input type="text" class="form-control" name="descricao" id="descricao" value="{{ usuario.descricao }}">
                                </div>
                                {% endfor %}
                                <button type="submit" href="editar_cliente" class="btn btn-success"><i class="fa fa-save mr-1"></i>Atualizar</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save mr-1"></i>Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <br><br>
            <!-- <footer class="footer text-center">
                All Rights Reserved by Nice admin. Designed and Developed by
                <a href="https://wrappixel.com">WrapPixel</a>.
            </footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->